<component name="ArtifactManager">
  <artifact type="war" name="springMVC_3_fileupload:war">
    <output-path>$PROJECT_DIR$/springMVC_3_fileupload/target</output-path>
    <properties id="maven-jee-properties">
      <options>
        <module>springMVC_3_fileupload</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="archive" name="springMVC_3_fileupload.war">
      <element id="artifact" artifact-name="springMVC_3_fileupload:war exploded" />
    </root>
  </artifact>
</component>