<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC_1_guide:war exploded">
    <output-path>$PROJECT_DIR$/springMVC_1_guide/target/springMVC_1_guide</output-path>
    <properties id="maven-jee-properties">
      <options>
        <exploded>true</exploded>
        <module>springMVC_1_guide</module>
        <packaging>war</packaging>
      </options>
    </properties>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC_1_guide" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.0.2.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.0.2.RELEASE" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="$PROJECT_DIR$/springMVC_1_guide/target/springMVC_1_guide/META-INF/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="springMVC_1_guide/web/Web" />
    </root>
  </artifact>
</component>